#Listas
Definición: Es un conjunto de objetos que se identifican por un nombre y un índice. Las listas en Python se definen entre [] y los objetos que éstas contienen se separan por comas ( , ).
##Métodos
1. Append: Añade un ítem al final de la lista
2. clear: Vacía todos los ítems de una lista
3. extend: Une una lista a otra
4. count: Cuenta el número de veces que aparece un ítem
5. index: Devuelve el índice en el que aparece un ítem (error si no aparece):
6. insert: Agrega un ítem a la lista en un índice específico
7. pop: Extrae un ítem de la lista y lo borra
8. remove: Borra el primer ítem de la lista cuyo valor concuerde con el que indicamos
9. reverse: Le da la vuelta a la lista actual
10. sort: Ordena automáticamente los ítems de una lista por su valor de menor a mayor

In [ ]:
#Append()
lista1= [23,9,4,27,8,18]
lista1.append(4)
print(lista1)
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista2.append("Jhon")
print(lista2)

[23, 9, 4, 27, 8, 18, 4]
['Juan', 'David', 'Acevedo', 'Vega', 'Jenith', 'Vega', 'Jhon']

In [ ]:
#clear
lista1= [23,9,4,27,8,18]
lista1.clear()
print(lista1)
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista2.clear()
print(lista2)

[]
[]

In [ ]:
#extend
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.extend(lista2)
print(lista1)

[23, 9, 4, 27, 8, 18, 'Juan', 'David', 'Acevedo', 'Vega', 'Jenith', 'Vega']

In [ ]:
#count
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
print(lista1.count(4))
print(lista2.count("Vega"))

1
2

In [ ]:
#index
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
print(lista1.index(4))
print(lista2.index("Vega"))

2
3

In [ ]:
#insert
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.insert(2,4)
print(lista1)
lista2.insert(5,"Jhon")
print(lista2)

[23, 9, 4, 4, 27, 8, 18]
['Juan', 'David', 'Acevedo', 'Vega', 'Jenith', 'Jhon', 'Vega']

In [ ]:
#pop
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.pop(2)
print(lista1)
lista2.pop(5)
print(lista2)

[23, 9, 27, 8, 18]
['Juan', 'David', 'Acevedo', 'Vega', 'Jenith']

In [ ]:
#remove
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.remove(4)
print(lista1)
lista2.remove("Vega")
print(lista2)

[23, 9, 27, 8, 18]
['Juan', 'David', 'Acevedo', 'Jenith', 'Vega']

In [ ]:
#reverse
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.reverse()
print(lista1)
lista2.reverse()
print(lista2)

[18, 8, 27, 4, 9, 23]
['Vega', 'Jenith', 'Vega', 'Acevedo', 'David', 'Juan']

In [ ]:
#sort
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.sort()
print(lista1)
lista2.sort()
print(lista2)

[4, 8, 9, 18, 23, 27]
['Acevedo', 'David', 'Jenith', 'Juan', 'Vega', 'Vega']

#Diccionarios
Son una estructura de datos que permite almacenar su contenido en forma de llave y valor.
##Métodos
1. get: Busca un elemento a partir de su clave y si no lo encuentra devuelve un valor por defecto
2. keys: Genera una lista en clave de los registros del diccionario
3. values: Genera una lista en valor de los registros del diccionario
4. items: Genera una lista en clave-valor de los registros del diccionario
5. pop: Extrae un registro de un diccionario a partir de su clave y lo borra, acepta valor por defecto
6. clear: Borra todos los registros de un diccionario
7. update: El método update se llama sobre un diccionario y tiene como entrada otro diccionario.
8. popitem: El método popitem() elimina de manera aleatoria un elemento del diccionario.
9. copy: Retorna una copia superficial del diccionario.
10. fromkeys(seq, valor): Crea un nuevo diccionario a partir de una secuencia de claves, asignándoles un valor común.

In [ ]:
#get
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.get(4)
print(dict1)
dict2.get("Vega")
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

In [ ]:
#keys
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
print(dict1.keys())
print(dict2.keys())

dict_keys(['nombre', 'apellido'])
dict_keys(['día', 'mes', 'año'])

In [ ]:
#values
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
print(dict1.values())
print(dict2.values())

dict_values(['Juan', 'Acevedo'])
dict_values([23, 9, 2004])

In [ ]:
#items
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.items()
print(dict1)
dict2.items()
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

In [ ]:
#pop
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.pop("nombre")
print(dict1)
dict2.pop("mes")
print(dict2)

{'apellido': 'Acevedo'}
{'día': 23, 'año': 2004}

In [ ]:
#clear
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.clear()
print(dict1)
dict2.clear()
print(dict2)

{}
{}

In [ ]:
#update
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.update(dict2)
print(dict1)

{'nombre': 'Juan', 'apellido': 'Acevedo', 'día': 23, 'mes': 9, 'año': 2004}

In [ ]:
#popitem
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.popitem()
print(dict1)
dict2.popitem()
print(dict2)

{'nombre': 'Juan'}
{'día': 23, 'mes': 9}

In [ ]:
#copy
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.copy()
print(dict1)
dict2.copy()
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

In [ ]:
#fromkeys
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.fromkeys("nombre")
print(dict1)
dict2.fromkeys("mes")
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

#Ejercicios de clase (listas)

#Ejercicio 1
Dada la lista: list1 = [100, 200, 300, 400, 500], se desea que imprima [500, 400, 300, 200, 100]

In [ ]:
list1= [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

#Ejercicio 2
Escriba un programa que unas dos listas, de tal forma que
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", “quis"]
da como resultado ['Mi', 'nombre', 'es', 'equis'] (reemplazar el nombre por el del estudiante)

In [ ]:
lista1 = ["M", "nom", "e", "J"]
lista2 = ["i", "bre", "s", "uan"]
lista3 = []
for i in range(len(lista1)):
  lista3.append(lista1[i] + lista2[i])
print(lista3)

['Mi', 'nombre', 'es', 'Juan']

#Ejercicio 3
Desarrolle un programa que calcule el doble de cada uno de los elementos de una lista. Ejemplo: si la lista es [1, 2, 3, 4, 5, 6, 7] da como resultado [2, 4, 6, 8, 10, 12, 14].

In [ ]:
lista1 = [1, 2, 3, 4, 5, 6, 7]
lista2 = []
for i in range(len(lista1)):
  lista2.append(lista1[i] * 2)
print(lista2)

[2, 4, 6, 8, 10, 12, 14]

#Ejercicio 4
Dadas dos listas
a. lista1 = ["Hola ", "toma "]
b. lista2 = ["Querido", "Señor"]
desarrollar un programe que de como resultado [“Hola Querido”, “Hola Señor”,'toma Querido”, 'toma Señor'

In [ ]:
lista1 = ["Hola ", "toma "]
lista2 = ["Querido", "Señor"]
lista3 = []
for i in range(len(lista1)):
  for j in range(len(lista2)):
    lista3.append(lista1[i] + lista2[j])
print(lista3)

['Hola Querido', 'Hola Señor', 'toma Querido', 'toma Señor']

#Ejercicio 5
Dadas dos listas
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
se desea construir un programa que imprima
10 400
20 300
30 200
40 100

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(len(list1)):
  print(list1[i], list2[i])

10 400
20 300
30 200
40 100

#Ejercicio 6
Dada la lista ["Mike", "", "Emma", "Kelly", "", "Brad"] se desea un programa que elimine el elemento vacío

In [ ]:
lista= ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in lista:
  if i == "":
    lista.remove(i)
print(lista)

['Mike', 'Emma', 'Kelly', 'Brad']

#Ejercicio 7
Dada la lista [10, 20, [300, 400, [5000, 6000], 500], 30, 40] se desea un programa que genere el siguiente resultado: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
lista= [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#Ejercicio 8
Dada dos listas
lista1= ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista 2= ["h", "i", "j"]
se desea un programa que imprima lo siguiente:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]
lista1[2][1][2].extend(lista2)
print(lista1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#Ejercicio 9
Dada la lista [5, 10, 15, 20, 25, 50, 20] se desea un programa que reemplace el
número de la mitad por 200.

In [ ]:
lista= [5, 10, 15, 20, 25, 50, 20]
lista[lista.index(20)] = 200
print(lista)

[5, 10, 15, 200, 25, 50, 20]

#Ejercicio 10
Construya un programa que elimine de una lista todos los duplicados. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprime [5, 15, 25, 50]

In [ ]:
lista = [5, 20, 15, 20, 25, 50, 20]
# Crea una lista vacía para almacenar los elementos únicos
resultado = [elemento for elemento in lista if lista.count(elemento) == 1]
print(resultado)

[5, 15, 25, 50]

#Ejercicio 11
Construya una programa que cuente cuántas veces se repitan los elementos de una
lista. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprima:
5 = 1
20 = 3
15 = 1
25= 1
50 = 1

In [ ]:
lista= [5, 20, 15, 20, 25, 50, 20]
lista2= []
for i in lista:
  if i not in lista2:
    lista2.append(i)
for i in lista2:
  print(i, "=", lista.count(i))

5 = 1
20 = 3
15 = 1
25 = 1
50 = 1

#Ejercicio 12
Construya un programa que ordene los elementos de una lista de menor a mayor o
viceversa

In [ ]:
lista= [40, 10, 30, 20, 60, 50, 100]
lista.sort()
print(lista)

[10, 20, 30, 40, 50, 60, 100]

#Ejercicio 13
Escriba un programa en Python que le permita al usuario obtener de una lista:
a. La suma de todos sus elementos
b. La multiplicación de todos sus elementos
c. El número mayor
d. El número menor

In [ ]:
lista= [40, 10, 30, 20, 60, 50, 100]
suma= 0
multiplicacion= 1
for i in lista:
  suma += i
  multiplicacion *= i
print("La suma de todos sus elementos es:", suma)
print("La multiplicación de todos sus elementos es:", multiplicacion)
print("El número mayor es:", max(lista))
print("El número menor es:", min(lista))

La suma de todos sus elementos es: 310
La multiplicación de todos sus elementos es: 72000000000
El número mayor es: 100
El número menor es: 10

#Ejercicio 14
Escriba un programa que calcule la diferencia entre dos listas.

In [ ]:
lista1= [1,2,3,4]
lista2= [1,2]
lista3= []
for i in lista1:
  if i not in lista2:
    lista3.append(i)
print(lista3)

[3, 4]

#Ejercicio 15
Escriba un programa que permita identificar el segundo y tercer elemento menor de una lista de 10 elementos.

In [ ]:
Lista1=[20,15,10,23,4,7,2,1,25,6]
Lista1.sort()
print(Lista1)
print("El segundo elemento menor es:",Lista1[1])
print("El tercer elemento menor es:",Lista1[2])

[1, 2, 4, 6, 7, 10, 15, 20, 23, 25]
El segundo elemento menor es: 2
El tercer elemento menor es: 4

#Ejercicio 16
Crear un programa que cree múltiples listas de una lista principal, de tal forma que:
1. La primera lista es la suma del segundo elemento con el primero.
2. La segunda lista es la resta del segundo elemento con el primero. Si el
número da negativo, se reemplaza con 0.
3. La tercera lista multiplica cada uno de los elementos *2
4. La cuarta lista eleva cada uno de los elementos al cuadrado.

Ejemplo: Sea la lista [5, 20, 15, 20, 25, 50, 20] el programa imprime:
- Lista1= [25,35,35,45,75,70]
- Lista2=[0,0,5,5,25,0]
- Lista3=[10,40,30,40,50,100,40]
- Lista4=[25,400,225,400,625,2500,400]

In [ ]:
lista_principal = [10,20,15,20,25,40,20]
lista1 = []
lista2 = []
lista3 = []
lista4 = []
for i in range(len(lista_principal) - 1):
  suma = lista_principal[i + 1] + lista_principal[i]
  lista1.append(suma)
  resta = lista_principal[i + 1] - lista_principal[i]
  if resta < 0:
    lista2.append(0)
  else:
    lista2.append(resta)
for elemento in lista_principal:
  lista3.append(elemento * 2)
for elemento in lista_principal:
  lista4.append(elemento ** 2)
print("Lista1=", lista1)
print("Lista2=", lista2)
print("Lista3=", lista3)
print("Lista4=", lista4)

Lista1= [30, 35, 35, 45, 65, 60]
Lista2= [10, 0, 5, 5, 15, 0]
Lista3= [20, 40, 30, 40, 50, 80, 40]
Lista4= [100, 400, 225, 400, 625, 1600, 400]

#Ejercicio 17
Escriba un programa que separe los elementos de una lista en el n-ésimo término.
Ejemplo: sea la lista ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'] y si n=5 la nueva lista será [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']

In [ ]:
lista=["a","b","c","d","e","f","g","h","i","j","k","l","m","n"]
n=5
lista2=[]
for i in range(0,len(lista),n):
  lista2.append(lista[i:i+n])
print(lista2)

[['a', 'b', 'c', 'd', 'e'], ['f', 'g', 'h', 'i', 'j'], ['k', 'l', 'm', 'n']]

#Ejercicio 18
Escriba un programa que mueva todos los ceros al final de una lista. Ejemplo, si se tiene la lista: [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1] el resultado esperado es: [3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
Lista=[5, 4, 0, 0, 8, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
for i in Lista:
  if i==0:
    Lista.remove(i)
    Lista.append(i)
print(Lista)

[5, 4, 8, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0]

#Ejercicios de clase (Diccionarios)

#Ejercicio 1
Desarrolle un programa que genere un diccionario de dos listas. Ejemplo. Sean las listas ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"], se espera: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code':'#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
#Forma 1
colors = ["Black", "Red", "Maroon", "Yellow"]
codes = ["#000000", "#FF0000", "#800000", "#FFFF00"]
result = []
for i in range(len(colors)):
    result.append({'color_name': colors[i], 'color_code': codes[i]})
print(result)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
#Forma 2
lista1=["Black", "Red", "Maroon", "Yellow"]
lista2=["#000000", "#FF0000", "#800000", "#FFFF00"]
lista3=[]
for i in range(len(lista1)):
  lista3.append({lista1[i]:lista2[i]})
print(lista3)

[{'Black': '#000000'}, {'Red': '#FF0000'}, {'Maroon': '#800000'}, {'Yellow': '#FFFF00'}]

#Ejercicio 2
Desarrolle un programa que genera el siguiente diccionario, en donde el valor es el cuadrado de la clave de 15 números: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
resultado={}
for i in range(1,16):
  resultado[i]=i**2
print(resultado)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

#Ejercicio 3
Sean dos diccionarios
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
se desea que se genere un tercero tal que de como resultado ({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
d1={'a': 100, 'b': 200, 'c':300}
d2={'a': 300, 'b': 200, 'd':400}
resultado={}
for key, value in d1.items():
  if key in d2:
    resultado[key]=value+d2[key]
  else:
    resultado[key]=value
for key, value in d2.items():
  if key not in resultado:
    resultado[key]=value
print(resultado)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

#Ejercicio 4
Escriba un programa que imprima todos los valores únicos de un diccionario, tal
que [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
imprima {'S005', 'S002', 'S007', 'S001', 'S009'}

In [ ]:
dic1=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
dic2=[]
for i in dic1:
  for j in i.values():
    if j not in dic2:
      dic2.append(j)
print(dic2)

['S001', 'S002', 'S005', 'S009', 'S007']

#Ejercicio 5
Desarrollar un programa que genere un diccionario de una palabra y cuente cuántas veces se repita la letra en la palabra. Ejemplo: La palabra “Anita” genera el diccionario {“A”: 2, ”n”:1, ”i”:1, ”t”:1}

In [ ]:
palabra = input("Ingresa una palabra: ")
diccionario = {}
for letra in palabra:
    if letra in diccionario:
        diccionario[letra] += 1
    else:
        diccionario[letra] = 1
print("Frecuencia de cada letra:")
for letra, frecuencia in diccionario.items():
    print(f"{letra}: {frecuencia}")

Ingresa una palabra: Marta
Frecuencia de cada letra:
M: 1
a: 2
r: 1
t: 1

#Ejercicio 6
Desarrolle un programa que emule una caja registradora de 15 productos con sus
respectivos precios. El programa debe generar una factura de compra y al final
indicar al dueño del establecimiento:
a. Cuántos productos se vendieron durante el día
b. Cuál fue la ganancia total
c. Cuál fue la mayor compra
d. Cuántos clientes se atendieron en el día.
e. El programa sólo puede realizarse con diccionarios.

In [ ]:
# Diccionario de productos con sus respectivos precios
productos = {
    "1": {"nombre": "Leche", "precio": 10.99},
    "2": {"nombre": "Pan", "precio": 5.99},
    "3": {"nombre": "Huevos", "precio": 8.99},
    "4": {"nombre": "Queso", "precio": 12.99},
    "5": {"nombre": "Carne", "precio": 15.99},
    "6": {"nombre": "Pollo", "precio": 13.99},
    "7": {"nombre": "Pescado", "precio": 16.99},
    "8": {"nombre": "Frutas", "precio": 9.99},
    "9": {"nombre": "Verduras", "precio": 7.99},
    "10": {"nombre": "Cereales", "precio": 11.99},
    "11": {"nombre": "Galletas", "precio": 6.99},
    "12": {"nombre": "Chocolates", "precio": 14.99},
    "13": {"nombre": "Bebidas", "precio": 10.99},
    "14": {"nombre": "Snacks", "precio": 8.99},
    "15": {"nombre": "Dulces", "precio": 12.99}
}
# Diccionario para almacenar la información de la venta
venta = {
    "productos": {},
    "total": 0,
    "mayor_compra": 0,
    "clientes": 0
}
# Ciclo para atender a los clientes
while True:
    print("Bienvenido a la tienda!")
    print("1. Realizar compra")
    print("2. Salir")
    opcion = input("Ingrese su opción: ")

    if opcion == "1":
        venta["clientes"] += 1
        print("Productos disponibles:")
        for clave, producto in productos.items():
            print(f"{clave}. {producto['nombre']} - ${producto['precio']:.2f}")

        while True:
            clave = input("Ingrese el número del producto que desea comprar (0 para terminar): ")
            if clave == "0":
                break
            elif clave in productos:
                cantidad = int(input("Ingrese la cantidad que desea comprar: "))
                if clave not in venta["productos"]:
                    venta["productos"][clave] = {"cantidad": 0, "total": 0}
                venta["productos"][clave]["cantidad"] += cantidad
                venta["productos"][clave]["total"] += productos[clave]["precio"] * cantidad
                venta["total"] += productos[clave]["precio"] * cantidad
                if venta["productos"][clave]["total"] > venta["mayor_compra"]:
                    venta["mayor_compra"] = venta["productos"][clave]["total"]
            else:
                print("Producto no disponible")
        print("Factura de compra:")
        for clave, producto in venta["productos"].items():
            print(f"{productos[clave]['nombre']} x {producto['cantidad']} - ${producto['total']:.2f}")
        print(f"Total: ${venta['total']:.2f}")
    elif opcion == "2":
        print("Gracias por su compra!")
        print(f"Productos vendidos: {len(venta['productos'])}")
        print(f"Ganancia total: ${venta['total']:.2f}")
        print(f"Mayor compra: ${venta['mayor_compra']:.2f}")
        print(f"Clientes atendidos: {venta['clientes']}")
        break
    else:
        print("Opción no válida")

Bienvenido a la tienda!
1. Realizar compra
2. Salir
Ingrese su opción: 1
Productos disponibles:
1. Leche - $10.99
2. Pan - $5.99
3. Huevos - $8.99
4. Queso - $12.99
5. Carne - $15.99
6. Pollo - $13.99
7. Pescado - $16.99
8. Frutas - $9.99
9. Verduras - $7.99
10. Cereales - $11.99
11. Galletas - $6.99
12. Chocolates - $14.99
13. Bebidas - $10.99
14. Snacks - $8.99
15. Dulces - $12.99
Ingrese el número del producto que desea comprar (0 para terminar): 14
Ingrese la cantidad que desea comprar: 5
Ingrese el número del producto que desea comprar (0 para terminar): 10
Ingrese la cantidad que desea comprar: 2
Ingrese el número del producto que desea comprar (0 para terminar): 0
Factura de compra:
Snacks x 5 - $44.95
Cereales x 2 - $23.98
Total: $68.93
Bienvenido a la tienda!
1. Realizar compra
2. Salir
Ingrese su opción: 2
Gracias por su compra!
Productos vendidos: 2
Ganancia total: $68.93
Mayor compra: $44.95
Clientes atendidos: 1